body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgb(9, 69, 53);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("images/calledout-hero-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 220px 0;
}

header h1 {
  font-size: 128px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}

.learn-more-button {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: rgb(20, 108, 99);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-top: 24px;
  display: inline-block;
}

.img-responsive {
  max-width: 100%;
}

main h2 {
  border-left: 5px solid rgb(20, 108, 99);
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 3px;
  padding-left: 7px;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

main p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.primary {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  background-color: #fff;
}

.why-section {
  grid-template-columns: 1fr 1fr;
}

.secondary {
  background-color: #c1ecdd;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
}

.secondary h2 {
  margin: 0 auto;
  width: 120px;
  margin-bottom: 12px;
}

.secondary h3 {
  margin-bottom: 30px;
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 10px 10px 40px 0px #07051433;
}

.card-body {
  padding: 10px 32px 24px 32px;
}

.card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.card h5 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.card p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.card-footer {
  margin: 24px;
}

.discography-cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.discography-videos {
  width: 100%;
  height: 290px;
  aspect-ratio: 16 / 9;
}

.title {
  border-bottom: 1px solid #eeebf8;
  margin-top: 0;
}

.release-date {
  padding-top: 12px;
  gap: 8px;
}

.lyrics {
  padding-top: 24px;
  gap: 8px;
}

.discography-buttons {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: rgb(20, 108, 99);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 24px;
  display: block;
}

.tertiary {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  background-color: #fff;
}

.tertiary h2 {
  margin: 0 auto;
  width: 120px;
  margin-bottom: 12px;
}

.tertiary h3 {
  margin-bottom: 30px;
  text-align: center;
}

.more-songs {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

footer {
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("images/calledout-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 35px;
}

.footer-container {
  grid-template-columns: 2fr 3fr 3fr;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer li,
footer p {
  font-weight: 400;
  font-size: 16px;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 64px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 35px;
  }
  main h3 {
    font-size: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  footer {
    padding: 35px;
  }

  footer h3 {
    font-size: 12px;
  }

  footer li,
  footer p {
    font-size: 10px;
  }
}
